.main_h {
  position: fixed;
  top: 0px;
  max-height: 50px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: #41295a url(../images/main-background.png) repeat;
  overflow: hidden;
  padding-bottom: 6px;
  border-bottom: 1px solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: gainsboro;
}
@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 25px;
  }
}

.brand-logo{
  margin-left: 20px;
}

.open-nav {
  max-height: 400px !important;
  padding-bottom: 90px;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

/*.sticky {
  background-color: rgba(0, 0, 255, 0.3); Blue Nav Bar
  background-color: rgba(255, 255, 255, 0.93);
  background-color: rgba(0, 0, 0, 0.12);
  top: 0px;
  border-bottom: 1px solid gainsboro;
}*/
.logos img{
  justify-content: space-between;
}

.img-circle {
    display: block;
    margin: auto;
    height: 250px;
}

/*#sponsors {
  background-color: #fff;
  padding-bottom: 20px;}
  #sponsors .contents {
    padding: 90px 13%;
    text-align: center; }
  #sponsors h3 {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: .03em;
    margin-bottom: 15px; }
  #sponsors h5 {
    font-size: 1em;
    letter-spacing: .03em;
    margin-bottom: 20px; }
    #sponsors h5 a {
      color: #cd989f; }
  #sponsors .sponsor {
    display: inline-block;
    max-height: 100px;
    margin: 40px;
    opacity: 0.55;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s; }
  #sponsors .sponsor:hover {
    opacity: 1.0;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s; }*/

/*
.logo {
  width: 50px;
  font-size: 25px;
  color: #8f8f8f;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}*/
@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

nav {
  float: right;
  width: 60%;
}
@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 0px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}
@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}
nav ul a {
  color: #ffc107;
  text-transform: uppercase;
  font-size: 1rem;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 10px;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}

.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #ffc528;
  position: absolute;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -26px;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #ffc528;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /*font-weight: 500;*/
  /*font-family: 'HelveticaNeue';*/
  font-family: 'Josefin Sans', sans-serif;
}

section {
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
  /*background-color: #373B44;
  background-color: #41295a;  fallback for old browsers
  background-image: url(../images/main-background.png);
  background-repeat: repeat; */
  /*background: #41295a repeat;*/
  background: #41295a url(../images/main-background.png) repeat;


  height: 100vh;

  & : nth-of-type(2n) {


background: #41295a; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #41295a , #2F0743); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #41295a , #2F0743); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
}

.sponsors{
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
  height: 50vh;
}

.schedule{
  height: 60vh;
}

.mlh-logo{
  position: relative;
  min-width: 20px;
}
.intro {
  /*height: 100vh;
  background-image: url(../images/skyline.png);
  background-repeat: no-repeat;
  background-position: bottom;*/
  background-image: url(../images/skyline.png),  url(../images/main-background.png);
  background-position: bottom;
  background-repeat: no-repeat, repeat;


}

.btnmrg {
  margin-left: 5px;
  margin-right: 5px;
}

#buttons {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 80%;
}

.content {
  display: table-cell;
  padding-bottom: 175px;
  /*vertical-align: middle;*/
}
.info{
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
  height: 65vh;
}
.main-page{
  vertical-align: middle;
}
.info-page{
  vertical-align: middle;
}
#map {
  height: 60vh;
  width: 100%;
}
h1 {

  display: block;
  color: white;
  font-weight: 300;
}

a {
  /*font-weight: 700;*/
  color: #373B44;
  position: relative;

  &:hover{
    opacity: 0.8;
  }

  &:active {
    top: 1px;
  }
}

footer {
  padding: 1% 5%;
  text-align:center;
  background-color: #373B44;
  color: white;

  a {
    color: #FE4B74;
    /*font-weight: 500;*/
    text-decoration: none;
  }
}

p{
  font-size: 18px;
}
